name: orientation_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.3.1 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  get: ^4.6.6 
  http: ^1.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  

flutter:
  uses-material-design: true

  assets:
    - assets/images/3d-casual-life-group-of-young-people-discussing-something-while-working.png
    - assets/images/business-3d-black-graduation-cap.png
    - assets/images/powered_by_dita.png
    - assets/images/powered_by_dita1.png
    - assets/images/profile.png
    - assets/images/students.png
    